<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page not found !</title>
    </head>

    <body>
        <div class="container"
            style="height: 100vh; width: 100vw ; display: flex; align-items: center; justify-content: center">
            <div>The page you requested for is not available in our website please <a href="/"> go home .</a></div>
        </div>
    </body>

</html>